.App {
  text-align: center;
}

.toycard{
  background-color: #6f94dd;
  border: solid;
  margin: 40px;
  height: 450px;
  width: 400px;
  float: left;
}

.eventcard{
  border: solid;
  margin: 40px;
  /* height: 250px; */
  width: 500px;
  float: left;
}

.form{
  clear: left;
  position: relative;
  bottom:20px;
}

.header{
  margin-bottom: 50px;
}

h1{
  font-size: 50px;
}

/* body {
  background-color: #6f94dd;
  color: black;
  padding: 40px;
  font-family: Arial;
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
